<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plug-in [
<!ENTITY building3x3Param '
	<group>Rental office(3x3)</group>
	<price>5000</price>
	<size>3,3</size>
	<minHeight>3</minHeight>
	<maxHeight>10</maxHeight>
	<population>
		<class name="freetrain.contributions.population.OfficePopulation"/>
		<base>400</base>
	</population>
'>
<!ENTITY building3x3Param0 '
	<group>Rental office(3x3)</group>
	<price>5600</price>
	<size>3,3</size>
	<minHeight>3</minHeight>
	<maxHeight>10</maxHeight>
	<population>
		<class name="freetrain.contributions.population.OfficePopulation"/>
		<base>500</base>
	</population>
'>
<!ENTITY building3x3Param1 '
	<group>Rental office(3x3)</group>
	<price>6000</price>
	<size>3,3</size>
	<minHeight>3</minHeight>
	<maxHeight>10</maxHeight>
	<population>
		<class name="freetrain.contributions.population.OfficePopulation"/>
		<base>640</base>
	</population>
'>
]>
<plug-in>
	<title>Ofice Buildings 6</title>
	<author>Shino</author>
	<homepage></homepage>
	
	<contribution type="commercial" id="{46E71BFC-ECCA-4EB7-8D83-EE20B291319B}">
		<group>Large department store</group>
		<price>3500</price>
		<size>4,6</size>
		<height>4</height>
		<sprite origin="0,0" offset="77">
		<picture src="departo 001.bmp" />
		</sprite>
                <population>
			<class name="freetrain.contributions.population.ResidentialPopulation"/>
			<base>4000</base>
		</population>
	</contribution>

        <contribution type="commercial" id="{D0D3AF45-5948-4258-939F-BBA961F597C8}">
		<group>Large department store</group>
		<price>3500</price>
		<size>6,4</size>
		<height>4</height>
		<sprite origin="160,0" offset="93">
		<picture src="departo 001.bmp" />
		</sprite>
                <population>
			<class name="freetrain.contributions.population.ResidentialPopulation"/>
			<base>4000</base>
		</population>
	</contribution>

        <contribution type="commercial" id="{2818E81A-BA8E-45C7-A529-F1175C8B013F}">
		<group>Large department store</group>
		<price>3500</price>
		<size>4,6</size>
		<height>4</height>
		<sprite origin="320,0" offset="77">
		<picture src="departo 001.bmp" />
		</sprite>
                <population>
			<class name="freetrain.contributions.population.ResidentialPopulation"/>
			<base>4000</base>
		</population>
	</contribution>

        <contribution type="commercial" id="{E28FF253-365D-49A8-9905-86701E25A1C8}">
		<group>Large department store</group>
		<price>3500</price>
		<size>6,4</size>
		<height>4</height>
		<sprite origin="480,0" offset="93">
		<picture src="departo 001.bmp" />
		</sprite>
                <population>
			<class name="freetrain.contributions.population.ResidentialPopulation"/>
			<base>4000</base>
		</population>
	</contribution>





        <contribution type="picture" id="{2B552B52-4AB9-4E44-92CF-87920A931CC7}">
		<picture src="3x3buil 003.bmp"/>
	</contribution>
	
	<contribution type="varHeightBuilding" id="{9350804F-6BF4-41B1-8DBE-2DF5F209D433}">
		&building3x3Param;
		<pictures>
			<top    origin="0, 1" offset="40">
				<picture ref="{2B552B52-4AB9-4E44-92CF-87920A931CC7}"/>
			</top>
			<middle origin="0,70" offset="24">
				<picture ref="{2B552B52-4AB9-4E44-92CF-87920A931CC7}"/>
			</middle>
			<bottom origin="0,134" offset="24">
				<picture ref="{2B552B52-4AB9-4E44-92CF-87920A931CC7}"/>
			</bottom>
		</pictures>
	</contribution>


	<contribution type="varHeightBuilding" id="{943DFED0-5663-47D6-B99A-F40E1CD7A5C9}">
		&building3x3Param;
		<pictures>
			<top    origin="96, 1" offset="40">
				<picture ref="{2B552B52-4AB9-4E44-92CF-87920A931CC7}"/>
			</top>
			<middle origin="96,70" offset="24">
				<picture ref="{2B552B52-4AB9-4E44-92CF-87920A931CC7}"/>
			</middle>
			<bottom origin="96,134" offset="24">
				<picture ref="{2B552B52-4AB9-4E44-92CF-87920A931CC7}"/>
			</bottom>
		</pictures>
	</contribution>


        <contribution type="varHeightBuilding" id="{C2836523-5DF8-4D8D-AB8D-C895818A6E20}">
		&building3x3Param;
		<pictures>
			<top    origin="192, 1" offset="40">
				<picture ref="{2B552B52-4AB9-4E44-92CF-87920A931CC7}"/>
			</top>
			<middle origin="192,70" offset="24">
				<picture ref="{2B552B52-4AB9-4E44-92CF-87920A931CC7}"/>
			</middle>
			<bottom origin="192,134" offset="24">
				<picture ref="{2B552B52-4AB9-4E44-92CF-87920A931CC7}"/>
			</bottom>
		</pictures>
	</contribution>	


        <contribution type="varHeightBuilding" id="{93E7AE34-3553-4A09-9C6C-5580C4E83F7D}">
		&building3x3Param;
		<pictures>
			<top    origin="288, 1" offset="40">
				<picture ref="{2B552B52-4AB9-4E44-92CF-87920A931CC7}"/>
			</top>
			<middle origin="288,70" offset="24">
				<picture ref="{2B552B52-4AB9-4E44-92CF-87920A931CC7}"/>
			</middle>
			<bottom origin="288,134" offset="24">
				<picture ref="{2B552B52-4AB9-4E44-92CF-87920A931CC7}"/>
			</bottom>
		</pictures>
	</contribution>		





        <contribution type="picture" id="{AEF3D47B-76EC-4663-9117-FB67B985C1D4}">
		<picture src="3x3buil 004.bmp"/>
	</contribution>
	
	<contribution type="varHeightBuilding" id="{8922C35A-6A7C-4335-9A41-1B163E5C963F}">
		&building3x3Param0;
		<pictures>
			<top    origin="0, 1" offset="40">
				<picture ref="{AEF3D47B-76EC-4663-9117-FB67B985C1D4}"/>
			</top>
			<middle origin="0,70" offset="24">
				<picture ref="{AEF3D47B-76EC-4663-9117-FB67B985C1D4}"/>
			</middle>
			<bottom origin="0,134" offset="24">
				<picture ref="{AEF3D47B-76EC-4663-9117-FB67B985C1D4}"/>
			</bottom>
		</pictures>
	</contribution>


	<contribution type="varHeightBuilding" id="{ECF9404F-F488-4583-9525-8F14751CA087}">
		&building3x3Param0;
		<pictures>
			<top    origin="96, 1" offset="40">
				<picture ref="{AEF3D47B-76EC-4663-9117-FB67B985C1D4}"/>
			</top>
			<middle origin="96,70" offset="24">
				<picture ref="{AEF3D47B-76EC-4663-9117-FB67B985C1D4}"/>
			</middle>
			<bottom origin="96,134" offset="24">
				<picture ref="{AEF3D47B-76EC-4663-9117-FB67B985C1D4}"/>
			</bottom>
		</pictures>
	</contribution>


        <contribution type="varHeightBuilding" id="{CFD9B856-2602-4F02-B397-73FD6A6EBA0B}">
		&building3x3Param0;
		<pictures>
			<top    origin="192, 1" offset="40">
				<picture ref="{AEF3D47B-76EC-4663-9117-FB67B985C1D4}"/>
			</top>
			<middle origin="192,70" offset="24">
				<picture ref="{AEF3D47B-76EC-4663-9117-FB67B985C1D4}"/>
			</middle>
			<bottom origin="192,134" offset="24">
				<picture ref="{AEF3D47B-76EC-4663-9117-FB67B985C1D4}"/>
			</bottom>
		</pictures>
	</contribution>	


        <contribution type="varHeightBuilding" id="{D5951A77-7281-4D6E-8F51-18B99726CC0B}">
		&building3x3Param0;
		<pictures>
			<top    origin="288, 1" offset="40">
				<picture ref="{AEF3D47B-76EC-4663-9117-FB67B985C1D4}"/>
			</top>
			<middle origin="288,70" offset="24">
				<picture ref="{AEF3D47B-76EC-4663-9117-FB67B985C1D4}"/>
			</middle>
			<bottom origin="288,134" offset="24">
				<picture ref="{AEF3D47B-76EC-4663-9117-FB67B985C1D4}"/>
			</bottom>
		</pictures>
	</contribution>		




        <contribution type="picture" id="{33B7AD4B-CA85-4CB6-91F3-30B83FFEB7B3}">
		<picture src="3x3buil 005.bmp"/>
	</contribution>
	
	<contribution type="varHeightBuilding" id="{00E96F34-4797-4D15-AE23-21DA995105F7}">
		&building3x3Param1;
		<pictures>
			<top    origin="0, 1" offset="40">
				<picture ref="{33B7AD4B-CA85-4CB6-91F3-30B83FFEB7B3}"/>
			</top>
			<middle origin="0,70" offset="24">
				<picture ref="{33B7AD4B-CA85-4CB6-91F3-30B83FFEB7B3}"/>
			</middle>
			<bottom origin="0,134" offset="24">
				<picture ref="{33B7AD4B-CA85-4CB6-91F3-30B83FFEB7B3}"/>
			</bottom>
		</pictures>
	</contribution>


	<contribution type="varHeightBuilding" id="{3F1B550E-9A53-487E-BEAF-72A19CDC1AA0}">
		&building3x3Param1;
		<pictures>
			<top    origin="96, 1" offset="40">
				<picture ref="{33B7AD4B-CA85-4CB6-91F3-30B83FFEB7B3}"/>
			</top>
			<middle origin="96,70" offset="24">
				<picture ref="{33B7AD4B-CA85-4CB6-91F3-30B83FFEB7B3}"/>
			</middle>
			<bottom origin="96,134" offset="24">
				<picture ref="{33B7AD4B-CA85-4CB6-91F3-30B83FFEB7B3}"/>
			</bottom>
		</pictures>
	</contribution>


        <contribution type="varHeightBuilding" id="{ED1A8223-9C48-4D4C-AD15-F9AC558CB26A}">
		&building3x3Param1;
		<pictures>
			<top    origin="192, 1" offset="40">
				<picture ref="{33B7AD4B-CA85-4CB6-91F3-30B83FFEB7B3}"/>
			</top>
			<middle origin="192,70" offset="24">
				<picture ref="{33B7AD4B-CA85-4CB6-91F3-30B83FFEB7B3}"/>
			</middle>
			<bottom origin="192,134" offset="24">
				<picture ref="{33B7AD4B-CA85-4CB6-91F3-30B83FFEB7B3}"/>
			</bottom>
		</pictures>
	</contribution>	


        <contribution type="varHeightBuilding" id="{7F170CC2-9BED-4F65-AF20-B5E323819DA8}">
		&building3x3Param1;
		<pictures>
			<top    origin="288, 1" offset="40">
				<picture ref="{33B7AD4B-CA85-4CB6-91F3-30B83FFEB7B3}"/>
			</top>
			<middle origin="288,70" offset="24">
				<picture ref="{33B7AD4B-CA85-4CB6-91F3-30B83FFEB7B3}"/>
			</middle>
			<bottom origin="288,134" offset="24">
				<picture ref="{33B7AD4B-CA85-4CB6-91F3-30B83FFEB7B3}"/>
			</bottom>
		</pictures>
	</contribution>		
</plug-in>