<?xml version="1.0" encoding="utf-8"?>
<plug-in>
	<title>Kominato and Izumi Railroad Plugin</title>
	<author>Icchii</author>
	<homepage>http://www.geocities.jp/cyber_express_1703d/freetrain/FT_plugin.html</homepage>
	
<!-- Isumi200 -->

	<contribution type="trainCar" id="{cyber-express-1703d-040417-isumi200}-a">
		<class name="freetrain.contributions.train.SymTrainCarImpl" />
		<sprite origin="0,0">
			<picture src="isumi200.bmp" />
		</sprite>
		<capacity>103</capacity>
	</contribution>

	<contribution type="train" id="{cyber-express-1703d-040417-isumi200}">
		<company>Isumi Railroad</company>
		<type>Isumi 200 Series</type>
		<name>Isumi Line</name>
		<author>Icchii</author>
		<description>Travels from Ohara (in the Chiba Prefecture) to Nakano on the 3rd Sector line.
		</description>
		<price>1</price>
		<speed>slow</speed>
		<fare>340</fare>
		<composition>
			<body carRef="{cyber-express-1703d-040417-isumi200}-a"/>
		</composition>
	</contribution>

<!-- Kominato RailroadKIHA200 -->

	<contribution type="trainCar" id="{cyber-express-1703d-040417-kominato200}-a">
		<class name="freetrain.contributions.train.SymTrainCarImpl" />
		<sprite origin="0,0">
			<picture src="kominato200.bmp" />
		</sprite>
		<capacity>160</capacity>
	</contribution>

	<contribution type="train" id="{cyber-express-1703d-040417-kominato200}">
		<company>Kominato Railroad</company>
		<type>KIHA200 Series</type>
		<name></name>
		<author>Icchii</author>
		<description>From Goi (in the Chiba Prefecture) to Nakano using the Kominato Railroad.
		This vehicle used to drive to the Chiba Station, but now KIHA20 does this.
		15 were produced and 14 are still active.
		</description>
		<price>1</price>
		<speed>slow</speed>
		<fare>340</fare>
		<composition>
			<body carRef="{cyber-express-1703d-040417-kominato200}-a"/>
		</composition>
	</contribution>

</plug-in>
