<?xml version="1.0" encoding="utf-8"?>
<plug-in>
	<depend on="jp.co.infoseek.hp.efa-typoon.built"/>
	<title>Building set 1st (for Ex)</title>
	<author>Typhoon</author>
	<homepage>http://typhoon.s19.xrea.com/ft/index.html</homepage>



	<contribution type="GenericStructure" id="{TYPHOON-Military-Rader1B-7567171D3CEF}">
		<name>Radar</name>
		<design>Early-warning radar</design>
		<price>3000</price>
		<size>1,1</size>
		<height>4</height>
		<population>
			<class name="freetrain.contributions.population.OfficePopulation"/>
			<base>50</base>
		</population>
		<structure>
			<category byname="Military Facilities"/>
		</structure>
		<sprite origin="0,0" offset="40" >
			<picture ref="{TYPHOON-GAZOU-MILITARY-RADER-7567171D3CEF}"/>
		</sprite>
	</contribution>

	<contribution type="GenericStructure" id="{TYPHOON-Military-Rader2B-7567171D3CEF}">
		<name>Radar</name>
		<design>Airport watch radar A</design>
		<price>1200</price>
		<size>1,1</size>
		<height>4</height>
		<population>
			<class name="freetrain.contributions.population.OfficePopulation"/>
			<base>20</base>
		</population>
		<structure>
			<category byname="Military Facilities"/>
			<category byname="Airports"/>
		</structure>
		<sprite origin="32,0" offset="40" >
			<picture ref="{TYPHOON-GAZOU-MILITARY-RADER-7567171D3CEF}"/>
		</sprite>
	</contribution>
	<contribution type="GenericStructure" id="{TYPHOON-Military-Rader3C-7567171D3CEF}">
		<name>Radar</name>
		<design>Airports watch radar B</design>
		<price>1200</price>
		<size>1,1</size>
		<height>4</height>
		<population>
			<class name="freetrain.contributions.population.OfficePopulation"/>
			<base>20</base>
		</population>
		<structure>
			<category byname="Military Facilities"/>
			<category byname="Airports"/>
		</structure>
		<sprite origin="64,0" offset="40" >
			<picture ref="{TYPHOON-GAZOU-MILITARY-RADER-7567171D3CEF}"/>
		</sprite>
	</contribution>

	<contribution type="GenericStructure" id="{TYPHOON-Military-F-15DJ2B-7567171D3CEF}">
		<name>Fighter</name>
		<design>F-15DJ (black)</design>
		<price>1200</price>
		<size>2,2</size>
		<height>1</height>
		<population>
			<class name="freetrain.contributions.population.OfficePopulation"/>
			<base>2</base>
		</population>
		<structure>
			<category byname="Military Facilities"/>
		</structure>
		<sprite origin="0,0" offset="8" >
			<picture ref="{TYPHOON-GAZOU-MILITARY-F-15DJ2-7567171D3CEF}"/>
		</sprite>
	</contribution>
</plug-in>