<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FreeTrain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FreeTrain.Properties.Settings>
            <setting name="RenderWindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="RenderWindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
        </FreeTrain.Properties.Settings>
    </userSettings>
</configuration>