<?xml version="1.0" encoding="Shift_JIS" ?>
<plug-in>
	<title>Ａ４メモリアルパックＢＧＭ</title>
	<author>川口耕介</author>
	<homepage>http://www.kohsuke.org/freetrain/</homepage>
	<description>
		インストールされているＡ４メモリアルパックの音楽を流用します
	</description>
	
	<contribution type="bgmFactory" id="{28BCAA46-42C1-4da0-BD7B-348CBAA9DB9F}">
		<class name="freetrain.plugin.a4membgm.FactoryImpl"
		  codebase="bin/Debug/FreeTrain.A4MemBGM.dll" />
	</contribution>
</plug-in>
