<?xml version="1.0" encoding="utf-8"?>
<plug-in>
	<title>車両セット　0号車</title>
	<homepage></homepage>

	<!-- キハ55系 先頭車-->
	<contribution type="trainCar" id="{TYPHOON-JNR-k55-7567171D3CEF}-h">
		<class name="freetrain.contributions.train.AsymTrainCarImpl" />
		<sprite origin="0,0">
                <picture src="kiha55a.bmp" />
                </sprite>
		<capacity>84</capacity>
	</contribution>
	<!-- キハ55系 中間車-->
	<contribution type="trainCar" id="{TYPHOON-JNR-k55-7567171D3CEF}-m">
		<class name="freetrain.contributions.train.SymTrainCarImpl" />
		<sprite origin="0,0">
                <picture src="kiha55b.bmp" />
                </sprite>
		<capacity>132</capacity>
	</contribution>
	<!-- キハ55系 後尾車-->
	<contribution type="trainCar" id="{TYPHOON-JNR-k55-7567171D3CEF}-t">
		<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
		<base carRef="{TYPHOON-JNR-k55-7567171D3CEF}-h"/>
		<sprite origin="0,0">
               	 </sprite>
		<capacity>84</capacity>
	</contribution>

	<contribution type="train" id="{TYPHOON-JNR-k55-HENSEI-7567171D3CEF}">
		<company>旧日本国有鉄道</company>
		<type>キハ55系</type>
		<name>急行色</name>
		<author>たいふ～ん</author>
		<description>8両まで編成可</description>
		<price>1</price>
		<speed>slow</speed>
           		<fare>400</fare>
		<class name="freetrain.contributions.train.PatternTrainImpl"/>
 		<config>
  		<car char="A" ref="{TYPHOON-JNR-k55-7567171D3CEF}-h"/>
   		<car char="B" ref="{TYPHOON-JNR-k55-7567171D3CEF}-t"/>
   		<composition>A</composition>
   		<composition>AB</composition>
   		<composition>AAB</composition>
		<composition>ABAB</composition>
		<composition>AABAB</composition>
		<composition>ABABAB</composition>
		<composition>AABABAB</composition>
		<composition>ABABABAB</composition>
		</config>
	</contribution>
	<contribution type="train" id="{TYPHOON-NANKAI-k5501-HENSEI-7567171D3CEF}">
		<company>南海電鉄</company>
		<type>キハ5501系</type>
		<name></name>
		<author>たいふ～ん</author>
		<description>南海電気鉄道が国鉄紀勢本線への乗り入れの為、国鉄キハ55を基に昭和34年に製造した気動車。準急きのくにとして走り、後に急行に格上げされました。昭和60年の国鉄ダイヤ改正で廃止となりキハ5501も引退しました。
（8両まで編成可）</description>
		<price>1</price>
		<speed>slow</speed>
           		<fare>400</fare>
		<class name="freetrain.contributions.train.PatternTrainImpl"/>
 		<config>
  		<car char="A" ref="{TYPHOON-JNR-k55-7567171D3CEF}-h"/>
   		<car char="B" ref="{TYPHOON-JNR-k55-7567171D3CEF}-t"/>
   		<composition>A</composition>
   		<composition>AB</composition>
   		<composition>AAB</composition>
		<composition>ABAB</composition>
		<composition>AABAB</composition>
		<composition>ABABAB</composition>
		<composition>AABABAB</composition>
		<composition>ABABABAB</composition>
		</config>
	</contribution>
	<contribution type="train" id="{TYPHOON-NANKAI-KINOKUNI-HENSEI-7567171D3CEF}">
		<company>南海電鉄</company>
		<type>キハ5501系+キハ58系</type>
		<name>きのくに</name>
		<author>たいふ～ん</author>
		<description>（8両のみ編成可）</description>
		<price>1</price>
		<speed>slow</speed>
           		<fare>400</fare>
		<class name="freetrain.contributions.train.PatternTrainImpl"/>
 		<config>
  		<car char="A" ref="{TYPHOON-JNR-k55-7567171D3CEF}-h"/>
   		<car char="B" ref="{TYPHOON-JNR-k55-7567171D3CEF}-t"/>
  		<car char="C" ref="{ADF87135-9F9C-058A-9B45-04F846A0479D}-h"/>
   		<car char="D" ref="{ADF87135-9F9C-058A-9B45-04F846A0479D}-t"/>

		<composition>ABCDCDCD</composition>
		</config>
	</contribution>
</plug-in>