<?xml version="1.0" encoding="utf-8"?>
<plug-in>
	<title>小湊鐵道・いすみ鉄道車両プラグイン</title>
	<author>いっちー</author>
	<homepage>http://www.geocities.jp/cyber_express_1703d/freetrain/FT_plugin.html</homepage>
	
<!-- いすみ200 -->

	<contribution type="trainCar" id="{cyber-express-1703d-040417-isumi200}-a">
		<class name="freetrain.contributions.train.SymTrainCarImpl" />
		<sprite origin="0,0">
			<picture src="isumi200.bmp" />
		</sprite>
		<capacity>103</capacity>
	</contribution>

	<contribution type="train" id="{cyber-express-1703d-040417-isumi200}">
		<company>いすみ鉄道</company>
		<type>いすみ200形</type>
		<name>いすみ線</name>
		<author>いっちー</author>
		<description>
千葉県の大原～上総中野を結ぶ第三セクター、いすみ鉄道の車両です。
		</description>
		<price>1</price>
		<speed>slow</speed>
		<fare>340</fare>
		<composition>
			<body carRef="{cyber-express-1703d-040417-isumi200}-a"/>
		</composition>
	</contribution>

<!-- 小湊鐵道キハ200 -->

	<contribution type="trainCar" id="{cyber-express-1703d-040417-kominato200}-a">
		<class name="freetrain.contributions.train.SymTrainCarImpl" />
		<sprite origin="0,0">
			<picture src="kominato200.bmp" />
		</sprite>
		<capacity>160</capacity>
	</contribution>

	<contribution type="train" id="{cyber-express-1703d-040417-kominato200}">
		<company>小湊鐵道</company>
		<type>キハ200形</type>
		<name></name>
		<author>いっちー</author>
		<description>
千葉県の五井～上総中野を結ぶ私鉄、小湊鐵道の車両。
国鉄への乗入れを考慮し国鉄キハ20形に準じて製作された車両で、以前は国鉄千葉駅へ乗入れていたが現在は設定されていない。
編成両数は1両から5両。全14両が製作され現在も活躍中である。 
		</description>
		<price>1</price>
		<speed>slow</speed>
		<fare>340</fare>
		<composition>
			<body carRef="{cyber-express-1703d-040417-kominato200}-a"/>
		</composition>
	</contribution>

</plug-in>