<?xml version="1.0" encoding="Shift_JIS" ?>
<plug-in>
	<title>建物セット</title>
	<author>noktoさん</author>
	<homepage>http://www.kohsuke.org/freetrain/</homepage>
	
	<contribution type="commercial" id="{C6ECBE6F-7034-4d94-8F00-E89BAF06D3A2}">
		<name>ミラービル</name>
		<price>1600</price>
		<size>1,3</size>
		<height>4</height>
		<population>
			<class name="freetrain.contributions.population.OfficePopulation"/>
			<base>400</base>
		</population>
		<sprite origin="0,0" offset="64">
			<picture src="building_mod.bmp" />
		</sprite>
	</contribution>
	
	
	<contribution type="commercial" id="{AD825AF4-A4C9-438a-8F0C-B2DD581F2192}">
		<name>ミラービル</name>
		<price>600</price>
		<size>1,1</size>
		<height>5</height>
		<population>
			<class name="freetrain.contributions.population.OfficePopulation"/>
			<base>180</base>
		</population>
		<sprite origin="0,0" offset="80">
			<picture src="building2.bmp" />
		</sprite>
	</contribution>


	<contribution type="commercial" id="{235CBE6F-7AD4-4334-8FFB-E54B2F0643A2}">
		<group>工場</group>
		<name>重工業系の工場</name>
		<price>3400</price>
		<size>2,3</size>
		<height>3</height>
			<base>400</base>
		<sprite origin="0,0" offset="27">
			<picture src="factory.bmp" />
		</sprite>
	</contribution>
		
	
</plug-in>
