<?xml version="1.0" encoding="utf-8"?> 
<plug-in>
  <title>TYPE2000</title> 
  <author>Shino</author> 
  <homepage></homepage>
 
<!-- 2000先頭車 --> 
　<contribution type="trainCar" id="{6F2F2667-05F0-4595-9A44-TYPE2000}-A">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000a.bmp" /> 
  </sprite>
  <capacity>142</capacity> 
  </contribution>
<!-- 2000最後尾車 -->
　<contribution type="trainCar" id="{6F2F2667-05F0-4595-9A44-TYPE2000}-B">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{6F2F2667-05F0-4595-9A44-TYPE2000}-A" />  
  <capacity>142</capacity> 
  </contribution> 
<!--2000中間車-->
　<contribution type="trainCar" id="{6F2F2667-05F0-4595-9A44-TYPE2000}-C">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000b.bmp" /> 
  </sprite>
  <capacity>162</capacity> 
  </contribution>
<!--2000パンタ車-->
　<contribution type="trainCar" id="{6F2F2667-05F0-4595-9A44-TYPE2000}-P">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000p.bmp" /> 
  </sprite>
  <capacity>162</capacity> 
  </contribution>

  <contribution type="train" id="{79C7B654-0E5E-402D-87CB-525CA403F917}">
<company>Keihin Express Electric Railway</company>
<type>2000 Series Remodeled (low)</type>
<name>Keikyu Line</name>
<author>Shino</author>
<description>1982年に登場した2000形2扉クロスシート車を改造した車両。改造後の車両は、扉を中央に増設し3扉化され、座席がクロスシートからロングシートに変更された。だが、性能はもともとの2扉クロスシート車時代のまま残されたため、快特運用の基本＆付属編成ともに活躍の場を広げた。(この車両は低速型)
</description>
<fare>200</fare>
<price>2200</price>
<speed>slow</speed>
<class name="freetrain.contributions.train.PatternTrainImpl"/>
<config>
<car char="前" ref="{6F2F2667-05F0-4595-9A44-TYPE2000}-A"/>
<car char="中" ref="{6F2F2667-05F0-4595-9A44-TYPE2000}-C"/>
<car char="後" ref="{6F2F2667-05F0-4595-9A44-TYPE2000}-B"/> 
<car char="P" ref="{6F2F2667-05F0-4595-9A44-TYPE2000}-P"/> 
<composition>前P中後</composition>
<composition>前P中中中中P後</composition>
<composition>前中P後前P中中中中P後</composition>
</config>
</contribution>

<!-- 2000先頭車 --> 
　<contribution type="trainCar" id="{4F2F2667-05F0-4595-9A44-TYPE2000}-A">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000a.bmp" /> 
  </sprite>
  <capacity>142</capacity> 
  </contribution>
<!-- 2000最後尾車 -->
　<contribution type="trainCar" id="{4F2F2667-05F0-4595-9A44-TYPE2000}-B">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{4F2F2667-05F0-4595-9A44-TYPE2000}-A" />  
  <capacity>142</capacity> 
  </contribution> 
<!--2000中間車-->
　<contribution type="trainCar" id="{4F2F2667-05F0-4595-9A44-TYPE2000}-C">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000b.bmp" /> 
  </sprite>
  <capacity>162</capacity> 
  </contribution>
<!--2000パンタ車-->
　<contribution type="trainCar" id="{4F2F2667-05F0-4595-9A44-TYPE2000}-P">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000p.bmp" /> 
  </sprite>
  <capacity>162</capacity> 
  </contribution>

  <contribution type="train" id="{52C7B654-0E5E-402D-87CB-525CA403F917}">
<company>Keihin Express Electric Railway</company>
<type>2000 Series Remodeled (medium)</type>
<name>Keikyu Line</name>
<author>Shino</author>
<description>1982年に登場した2000形2扉クロスシート車を改造した車両。改造後の車両は、扉を中央に増設し3扉化され、座席がクロスシートからロングシートに変更された。だが、性能はもともとの2扉クロスシート車時代のまま残されたため、快特運用の基本＆付属編成ともに活躍の場を広げた。(この車両は中速型)
</description>
<fare>200</fare>
<price>2200</price>
<speed>medium</speed>
<class name="freetrain.contributions.train.PatternTrainImpl"/>
<config>
<car char="前" ref="{4F2F2667-05F0-4595-9A44-TYPE2000}-A"/>
<car char="中" ref="{4F2F2667-05F0-4595-9A44-TYPE2000}-C"/>
<car char="後" ref="{4F2F2667-05F0-4595-9A44-TYPE2000}-B"/> 
<car char="P" ref="{4F2F2667-05F0-4595-9A44-TYPE2000}-P"/> 
<composition>前P中後</composition>
<composition>前P中中中中P後</composition>
<composition>前中P後前P中中中中P後</composition>
</config>
</contribution>

<!-- 2000先頭車 --> 
　<contribution type="trainCar" id="{2F2F2667-05F0-4595-9A44-TYPE2000}-A">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000a.bmp" /> 
  </sprite>
  <capacity>142</capacity> 
  </contribution>
<!-- 2000最後尾車 -->
　<contribution type="trainCar" id="{2F2F2667-05F0-4595-9A44-TYPE2000}-B">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{2F2F2667-05F0-4595-9A44-TYPE2000}-A" />  
  <capacity>142</capacity> 
  </contribution> 
<!--2000中間車-->
　<contribution type="trainCar" id="{2F2F2667-05F0-4595-9A44-TYPE2000}-C">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000b.bmp" /> 
  </sprite>
  <capacity>162</capacity> 
  </contribution>
<!--2000パンタ車-->
　<contribution type="trainCar" id="{2F2F2667-05F0-4595-9A44-TYPE2000}-P">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000p.bmp" /> 
  </sprite>
  <capacity>162</capacity> 
  </contribution>

  <contribution type="train" id="{75G3A011-0E5E-402D-87CB-525CA403F917}">
<company>Keihin Express Electric Railway</company>
<type>2000 Series Remodeled (high)</type>
<name>Keikyu Line</name>
<author>Shino</author>
<description>1982年に登場した2000形2扉クロスシート車を改造した車両。改造後の車両は、扉を中央に増設し3扉化され、座席がクロスシートからロングシートに変更された。だが、性能はもともとの2扉クロスシート車時代のまま残されたため、快特運用の基本＆付属編成ともに活躍の場を広げた。(この車両は高速型)
</description>
<fare>200</fare>
<price>2200</price>
<speed>fast</speed>
<class name="freetrain.contributions.train.PatternTrainImpl"/>
<config>
<car char="前" ref="{2F2F2667-05F0-4595-9A44-TYPE2000}-A"/>
<car char="中" ref="{2F2F2667-05F0-4595-9A44-TYPE2000}-C"/>
<car char="後" ref="{2F2F2667-05F0-4595-9A44-TYPE2000}-B"/> 
<car char="P" ref="{2F2F2667-05F0-4595-9A44-TYPE2000}-P"/> 
<composition>前P中後</composition>
<composition>前P中中中中P後</composition>
<composition>前中P後前P中中中中P後</composition>
</config>
</contribution>



<!-- 2000先頭車 --> 
　<contribution type="trainCar" id="{835CA09F-1ECC-470A-OLD-TYPE2000}-A">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000a old.bmp" /> 
  </sprite>
  <capacity>142</capacity> 
  </contribution>
<!-- 2000最後尾車 -->
　<contribution type="trainCar" id="{835CA09F-1ECC-470A-OLD-TYPE2000}-B">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{835CA09F-1ECC-470A-OLD-TYPE2000}-A" />  
  <capacity>142</capacity> 
  </contribution> 
<!--2000中間車-->
　<contribution type="trainCar" id="{835CA09F-1ECC-470A-OLD-TYPE2000}-C">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000b old.bmp" /> 
  </sprite>
  <capacity>162</capacity> 
  </contribution>
<!--2000パンタ車-->
　<contribution type="trainCar" id="{835CA09F-1ECC-470A-OLD-TYPE2000}-P">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000p old.bmp" /> 
  </sprite>
  <capacity>162</capacity> 
  </contribution>

  <contribution type="train" id="{628615F9-AECD-4E43-A179-088290B7B216}">
<company>Keihin Express Electric Railway</company>
<type>2000 Series Nonremodeled (low)</type>
<name>Keikyu Line</name>
<author>Shino</author>
<description>快速特急用として活躍してきた旧600形の後継車両として1982(昭和57)年に登場しました。室内は運転室の直後を除いてクロスシートが配列されています。編成は8輌固定編成の他に、12両編成に対応するための4輌編成が1985(昭和60)年から製造され、朝方夕方ラッシュ時の増結や、4輌＋4輌の8輌編成で運用されていました。(この車両は低速型)
</description>
<fare>200</fare>
<price>2200</price>
<speed>slow</speed>
<class name="freetrain.contributions.train.PatternTrainImpl"/>
<config>
<car char="前" ref="{835CA09F-1ECC-470A-OLD-TYPE2000}-A"/>
<car char="中" ref="{835CA09F-1ECC-470A-OLD-TYPE2000}-C"/>
<car char="後" ref="{835CA09F-1ECC-470A-OLD-TYPE2000}-B"/> 
<car char="P" ref="{835CA09F-1ECC-470A-OLD-TYPE2000}-P"/> 
<composition>前P中後</composition>
<composition>前P中中中中P後</composition>
<composition>前中P後前P中中中中P後</composition>
</config>
</contribution>

<!-- 2000先頭車 --> 
　<contribution type="trainCar" id="{835CA09F-2ECC-470A-OLD-TYPE2000}-A">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000a old.bmp" /> 
  </sprite>
  <capacity>142</capacity> 
  </contribution>
<!-- 2000最後尾車 -->
　<contribution type="trainCar" id="{835CA09F-2ECC-470A-OLD-TYPE2000}-B">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{835CA09F-2ECC-470A-OLD-TYPE2000}-A" />  
  <capacity>142</capacity> 
  </contribution> 
<!--2000中間車-->
　<contribution type="trainCar" id="{835CA09F-2ECC-470A-OLD-TYPE2000}-C">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000b old.bmp" /> 
  </sprite>
  <capacity>162</capacity> 
  </contribution>
<!--2000パンタ車-->
　<contribution type="trainCar" id="{835CA09F-2ECC-470A-OLD-TYPE2000}-P">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000p old.bmp" /> 
  </sprite>
  <capacity>162</capacity> 
  </contribution>

  <contribution type="train" id="{123F092D-91F0-449C-BCB3-9A2A189650B8}">
<company>Keihin Express Electric Railway</company>
<type>2000 Series Nonremodeled (medium)</type>
<name>Keikyu Line</name>
<author>Shino</author>
<description>快速特急用として活躍してきた旧600形の後継車両として1982(昭和57)年に登場しました。室内は運転室の直後を除いてクロスシートが配列されています。編成は8輌固定編成の他に、12両編成に対応するための4輌編成が1985(昭和60)年から製造され、朝方夕方ラッシュ時の増結や、4輌＋4輌の8輌編成で運用されていました。(この車両は中速型)
</description>
<fare>200</fare>
<price>2200</price>
<speed>medium</speed>
<class name="freetrain.contributions.train.PatternTrainImpl"/>
<config>
<car char="前" ref="{835CA09F-2ECC-470A-OLD-TYPE2000}-A"/>
<car char="中" ref="{835CA09F-2ECC-470A-OLD-TYPE2000}-C"/>
<car char="後" ref="{835CA09F-2ECC-470A-OLD-TYPE2000}-B"/> 
<car char="P" ref="{835CA09F-2ECC-470A-OLD-TYPE2000}-P"/> 
<composition>前P中後</composition>
<composition>前P中中中中P後</composition>
<composition>前中P後前P中中中中P後</composition>
</config>
</contribution>

<!-- 2000先頭車 --> 
　<contribution type="trainCar" id="{835CA09F-3ECC-470A-OLD-TYPE2000}-A">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000a old.bmp" /> 
  </sprite>
  <capacity>142</capacity> 
  </contribution>
<!-- 2000最後尾車 -->
　<contribution type="trainCar" id="{835CA09F-3ECC-470A-OLD-TYPE2000}-B">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{835CA09F-3ECC-470A-OLD-TYPE2000}-A" />  
  <capacity>142</capacity> 
  </contribution> 
<!--2000中間車-->
　<contribution type="trainCar" id="{835CA09F-3ECC-470A-OLD-TYPE2000}-C">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000b old.bmp" /> 
  </sprite>
  <capacity>162</capacity> 
  </contribution>
<!--2000パンタ車-->
　<contribution type="trainCar" id="{835CA09F-3ECC-470A-OLD-TYPE2000}-P">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000p old.bmp" /> 
  </sprite>
  <capacity>162</capacity> 
  </contribution>

  <contribution type="train" id="{6204E5B8-6EB6-4F64-A14D-44694A5C5D02}">
<company>Keihin Express Electric Railway</company>
<type>2000 Series Nonremodeled (high)</type>
<name>Keikyu Line</name>
<author>Shino</author>
<description>快速特急用として活躍してきた旧600形の後継車両として1982(昭和57)年に登場しました。室内は運転室の直後を除いてクロスシートが配列されています。編成は8輌固定編成の他に、12両編成に対応するための4輌編成が1985(昭和60)年から製造され、朝方夕方ラッシュ時の増結や、4輌＋4輌の8輌編成で運用されていました。(この車両は高速型)
</description>
<fare>200</fare>
<price>2200</price>
<speed>fast</speed>
<class name="freetrain.contributions.train.PatternTrainImpl"/>
<config>
<car char="前" ref="{835CA09F-3ECC-470A-OLD-TYPE2000}-A"/>
<car char="中" ref="{835CA09F-3ECC-470A-OLD-TYPE2000}-C"/>
<car char="後" ref="{835CA09F-3ECC-470A-OLD-TYPE2000}-B"/> 
<car char="P" ref="{835CA09F-3ECC-470A-OLD-TYPE2000}-P"/> 
<composition>前P中後</composition>
<composition>前P中中中中P後</composition>
<composition>前中P後前P中中中中P後</composition>
</config>
</contribution>

<!-- 2000先頭車 --> 
　<contribution type="trainCar" id="{835CA09F-4ECC-470A-OLD-TYPE2000}-A">
　<class name="freetrain.contributions.train.AsymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000a old.bmp" /> 
  </sprite>
  <capacity>142</capacity> 
  </contribution>
<!-- 2000最後尾車 -->
　<contribution type="trainCar" id="{835CA09F-4ECC-470A-OLD-TYPE2000}-B">
　<class name="freetrain.contributions.train.ReverseTrainCarImpl" />
  <base carRef="{835CA09F-4ECC-470A-OLD-TYPE2000}-A" />  
  <capacity>142</capacity> 
  </contribution> 
<!--2000中間車-->
　<contribution type="trainCar" id="{835CA09F-4ECC-470A-OLD-TYPE2000}-C">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000b old.bmp" /> 
  </sprite>
  <capacity>162</capacity> 
  </contribution>
<!--2000パンタ車-->
　<contribution type="trainCar" id="{835CA09F-4ECC-470A-OLD-TYPE2000}-P">
　<class name="freetrain.contributions.train.SymTrainCarImpl" /> 
　<sprite origin="0,0">
  <picture src="kei 2000p old.bmp" /> 
  </sprite>
  <capacity>162</capacity> 
  </contribution>

  <contribution type="train" id="{90G4AE26-7EB6-9D32-H49F-44694A5C5D02}">
<company>Keihin Express Electric Railway</company>
<type>2000 Series Nonremodeled 4-car+4-car(high)</type>
<name>Keikyu Line</name>
<author>Shino</author>
<description>快速特急用として活躍してきた旧600形の後継車両として1982(昭和57)年に登場しました。室内は運転室の直後を除いてクロスシートが配列されています。編成は8輌固定編成の他に、12両編成に対応するための4輌編成が1985(昭和60)年から製造され、朝方夕方ラッシュ時の増結や、4輌＋4輌の8輌編成で運用されていました。(4輌＆4輌＋4輌編成高速型)
</description>
<fare>200</fare>
<price>2200</price>
<speed>fast</speed>
<class name="freetrain.contributions.train.PatternTrainImpl"/>
<config>
<car char="前" ref="{835CA09F-4ECC-470A-OLD-TYPE2000}-A"/>
<car char="中" ref="{835CA09F-4ECC-470A-OLD-TYPE2000}-C"/>
<car char="後" ref="{835CA09F-4ECC-470A-OLD-TYPE2000}-B"/> 
<car char="P" ref="{835CA09F-4ECC-470A-OLD-TYPE2000}-P"/> 
<composition>前P中後</composition>
<composition>前P中後前P中後</composition>
</config>
</contribution>
</plug-in>