<?xml version="1.0" encoding="UTF-8" ?>
<plug-in>
	<title>Pedestrian Crossing</title>
	<!--//!<title>横断歩道</title>
	<title>駐車場</title>-->
	<author>C477</author>
	<!--!<author>C477@2両目</author>-->
	<homepage>http://www.rocket.ne.jp/~nao/</homepage>	
		
	<contribution type="contribution" id="{782BAFD9-2698-4C0E-C477-FFEA0F7D1B8A}">
		<name>roadAccessory</name>
		<class name="FreeTrain.Framework.Plugin.FixedClassContributionFactory"/>
		<implementation name="FreeTrain.World.Road.Accessory.RoadAccessoryContribution"
			codebase="FreeTrain.World.Road.Accessory.dll" />
	</contribution>
	
	<!-- temporary -->
	<contribution type="menu" id="{3773CA2C-11B5-4DCC-C477-2296E9EBEBA7}">
		<class name="FreeTrain.World.Road.Accessory.MenuContributionImpl"
			codebase="FreeTrain.World.Road.Accessory.dll" />
	</contribution>

</plug-in>
